

.header-professor {
    background-color: #cc0000; /* Vermelho forte */
    color: white;
    text-align: center;
    padding: 20px 0;
}

#professores {
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#professores table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#professores th, td {
    border: 1px solid #cc0000; /* Borda da tabela */
    padding: 10px;
    text-align: left;
}

#professores th {
    background-color: #660000; /* Cabeçalho da tabela */
    color: white;
}

